/* Aplicar estilos generales */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 0px;
    margin: 0px;
}


/*  Aplicar estilos al header */

header {
    background: url("../img/slide1.jpg");

    height: 100vh;
    background-size: cover;
}

.contenedor {
    max-width: 1280px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    width: auto;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 105px;
    transition: 0.3s;
}

.log{
    display: none;
}

.menu img {
    height: 8vw;
}

.menu li {
    list-style: none;
    margin-right: 50px;
}

.menu a {
    color: white;
}

.menu a:hover {
    text-decoration: none;
    color: #EF962D;
}

.menu>img:hover,
li:hover {
    cursor: pointer;
}

.lista {
    display: flex;
    color: white;
}

#logo {
    width: 50%;
}

.imgs-sucursal{
    display: flex;
    justify-content: space-around;
}

.imgs-sucursal img {
    width: 30%;
    height: 220px;
    outline:5px solid rgba(255,255,255,0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.imgs-sucursal img:hover{
    box-shadow: 10px 6px 16px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
    -webkit-filter: blur(3px);
    filter: brightness(0.9);
    transition: 0.5s
}


#slogan {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 8vmin;
}

.logo {
    display: flex;
    justify-content: center;
}

.boton{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contenedor button::before{
    margin-right: 10px;
}

.contenedor-info {
    max-width: 1280px;
    height: 40vw;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

[class^="info-"] img {
    width: 50%;
}

[class^="info-"] {
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[class^="info-"] p {
    margin-top: 20px;
    text-align: center;
}

.contenedor button{
    margin-left: auto;
    margin-right: auto;
}

/* Flecha Arriba */
.flecha_arriba{
    position: sticky;
    top: 90vh;
    width: 50px;
    z-index: 1;
}


/* Estilos de la sección Banner */

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner h2 {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 5px 30% 5px 30%;
    color: white;
    font-family: 'Sriracha', cursive;
}

#slides {
    margin-bottom: 140px;
    margin-top: 70px;
}


/* Estilos de la sección footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    color: white;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: #EF962D;
}


/* Menu 2 */

.menu2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 70px;
    width: 100%;
    font-size: 1em;
    position: fixed;
}

.menu2 .lista {
    margin-top: 20px;
}

.menu2 img {
    height: 10vh;
}


/* Menú responsivo */

#boton-menu {
    display: none;
}

header label {
    display: none;
    width: 50px;
    height: 50px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
}

.imgs {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin-bottom: 100px;
}

.imgs-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 30%;
    height: 100%;
    outline:5px solid rgba(255,255,255,0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;
    margin-bottom: 20px;
}

.imgs-menu:hover {
    cursor: pointer;
    box-shadow: 10px 6px 16px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
    -webkit-filter: blur(3px);
    filter: brightness(0.9);
    transition: 0.5s
}

.imgs-menu img {
    width: 100%;
    height: 300px;
	margin-bottom: 30px;
}


.imgs-menu p{
    font-size: 2.5vmin;
    font-family: 'Nunito', sans-serif;
}
/* Fin de Menú responsivo */

@media screen and (max-width: 768px) {
    header label {
        display: block;
    }

    header{
        height: 100%;
    }

    .menu {
        position: absolute;
        justify-content: space-between;
        margin-left: -60%;
        transition: 0.5s;
        margin-top: 250px;
    }

    .menu img{
        display: none;
    }
    
    .lista li a {
        color: white;
        display: block;
        padding: 15px 20px;
        width: 100%;
    }

    .lista {
        padding: 0;
        flex-direction: column;
    }

    .lista li {
        margin: 0;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        display: block;
        text-align: center;
        padding: 15px 20px;
        border-top: 1px solid white;
        width: 100%;
    }

    .lista:last-child{
        border-bottom: 1px solid white;
    }

    #boton-menu:checked~.menu {
        margin: 0;
        margin-top: 250px;
    }

    #boton-menu:checked~label{
        background: rgba(0, 0, 0, 0.3);
    }

    #logo{
        width: 100%;
    }

    .imgs-sucursal{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .imgs-sucursal img{
        margin-top: 30px;
        margin-bottom: 15px;
        width: 80%;
    }

    .menu2{
        display: none;
    }

    .contenedor{
        display: flex;
        height: 50%;
        flex-direction: column;
    }

    #slogan{
        margin-top: 300px;
    }

    .contenedor-info{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .contenedor-info p{
        text-align: center;
        font-size: 5vmin;
    }

    .banner h2{
        padding: 5px 20%;
    }

    .carousel-item img{
        height: 200px;
    }

    .imgs{
        flex-direction: column;
        align-items: center;
    }

    .imgs-menu{
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .imgs-menu{
        width: 70%;
    }
}
@media screen and (max-width: 360px) {
    #logo{
        width: 80%;
    }

    #slogan{
        margin-top: 165px;
    }

    .contenedor-info{
        width: 100%;
    }

    .imgs-menu{
        width: 90%;
    }

    .imgs-menu p{
        font-size: 5vmin;
    }
}

.icon-facebook:hover::before{
    color: #799ae2;
}

.icon-whatsapp:hover::before{
    color: #5ed37b;
}

.animacion{
    opacity: 0;
    transition: all 2s;
}