/* Estilos del header */

header {
    height: 10vh;
    background-color: #473B34;
    color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.contenedor-header {
    width: 94%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-header a {
    width: 10vh;
}

.contenedor-header img:hover {
    cursor: pointer;
}

.contenedor-header h1 {
    font-size: 4vmin;
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 15px;
}

.usuario:hover {
    cursor: pointer;
}

.icon-user::before {
    margin-left: 15px;
    font-size: 1em;
}


/* Estilos Main */

.main {
    display: flex;
}

.contt{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Estilos Menú */

.menu-sis {
    width: 30vmin;
    color: #C0BABA;
    height: 90vh;
    font-size: 2vmin;
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.16), 0 8px 6px rgba(0, 0, 0, 0.23);
}

.menu-sis li {
    padding: 20px 20px;
}

.menu-sis li:hover {
    cursor: pointer;
    color: white;
}

.menu-sis li::before {
    padding: 0px 10px;
    color: white;
}

#seleccionado-sis {
    color: white;
}

.contenido-imagenes {
    width: 100%;
    margin: auto;
    position: relative;
    max-width: 960px;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 1.8em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tablas-historial{
    height: 100%;
}

td {
    display: block;
    width: 100%;
}

th {
    display: none;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table td,
.table th {
    padding: 0.5em;
    font-size: 1.8vmin;
    text-align: left;
}

.table tr:nth-child(odd) {
    background: #F7F6F5;
}

.table img {
    height: 100px;
}


/* Botones */
.verde {
    color: green;
}

.rojo {
    color: rgb(241, 54, 54);
}
.estado {
    padding: 5px 15px;
}

.activo {
    background-color: #0B8B18;
}

.inactivo {
    background-color: #DF2042;
}

.estado:hover {
    background-color: gray;
}

.icon-pencil {
    padding: 5px 5px;
    border-radius: 3px;
    margin-right: 5px;
    background-color: #F2D61E;
}

.icon-reply {
    padding: 5px 5px;
    border-radius: 3px;
    margin-right: 5px;
    background-color: #2542e9;
}

.icon-reply:hover {
    background-color: #4959b8;
}

.icon-pencil:hover {
    background-color: #a79600e3;
}


.icon-trash {
    padding: 5px 5px;
    border-radius: 3px;
    background-color: #DF2042;
}

.icon-trash:hover {
    background-color: #88021a;
}

a {
    color: white;
    border-radius: 25px;
}

a:hover {
    color: white;
    text-decoration: none;
}

.acciones{
    display: flex;
    justify-content: space-around;
}

.correcto {
    background-color: green;
    color: white;
    padding: 12px;
    border-radius: 10px;
    position: relative;
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
}
/* Estilos de la Página Apariencia */

.temas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tema {
    width: 30%;
    text-align: center;
}

.temas label {
    border: none;
}

.temas input{
    display: none;
}

.tema img {
    border: none;
    border-radius: 15px;
}

.tema img:hover {
    border: black 3px solid;
    border-radius: 15px;
}

.radio{
    border: none;
}

.tema:hover{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
}

.selection {
    border: 10px solid black;
}

.contenido {
    width: 70vw;
    height: 80vh;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.nombre_tema {
    font-size: 0.8em;
}

.vista-previa {
    margin-top: 50px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.btn_aplicar {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#tema1:checked + label, #tema2:checked + label, #tema3:checked + label{
    border: solid 4px black;
    border-radius: 20px;
}
/* Estilos de Secciones de Registro y del Historial de Pedidos y Empleados */

.registro-pedidos {
    display: flex;
    justify-content: space-between;
}

.registro {
    width: 30%;
    height: 70vh;
}

.historial {
    width: 65%;
    height: 70vh;
}

.editar{
    width: 80%;
    margin: auto;
}

.form-editar{
    width: 80%;
    max-height: 80vh;
    overflow-y: scroll;
}

.form-editar *{
    width: 100%;
    margin-top: 5px;
}

.btn-primary{
    width: 20%;
    margin-top: 15px;
}

/* Estilos de Formularios de Registro */

.contenedor_logo {
    width: 120px;
    height: 120px;
    background-color: #473B34;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.contenedor {
    width: 40%;
    margin: auto;
    height: 90vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-elemento{
    width: 100%;
    color: #534842;
}

.form-elemento label{
    font-size: 15px;
}

.form-elemento input,select,textarea {
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    border: 1px #afadad solid;
    width: 100%;
    justify-content: center;
    height: 40px;
    padding: 5px;
    background: #F7F6F5;
}

.formulario-sis textarea {
    height: 170px;
}

.wrapper{
    width: 500px;
    margin: 0 auto;
}

.con-visitas{
    display: flex;
    flex-direction: column;
}

.form-visitas{
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 80px;
}

.form-visitas .form-elemento{
    width: 20%;
}

.form-visitas input{
    width: 200px;
}

.subtitulos{
    display: flex;
}

.subtitulos h2 {
    margin-right: 40px;
    font-weight: bold;
}

.no-seleccionado{
    color: gray;
    font-weight: normal;
}

.no-seleccionado:hover{
    color: rgba(0,0,0,.8);
}

@media (min-width: 900px) {
    th {
        font-size: 1em;
        display: table-cell;
    }
    td {
        width: auto;
        display: table-cell;
    }
    td:nth-of-type(1) {}
    .content {
        padding: 1.8em;
    }
}

@media (min-height:550px) {
    .content {
        height: 500px;
    }

    .table td,
.table th {
    font-size: 1.8vmin;
}
}

.dropdown-item:active {
    background-color: darkred;
}

.modal-footer {
    color: white;
}

.modal-footer a:hover {
    background-color: #DF2042;
    border: 0px;
}

.encabezado{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.print{
    width: 30px;
}


#boton-menu {
    display: none;
}

header label {
    display: none;
    width: 50px;
    height: 50px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
}

/* ESTILOS DE EDITAR IMÁGEN */
.img_a_editar{
    max-width: 200px;
    max-height: 200px;
}

@media screen and (max-width: 768px) {
    .contt{
        width: 100%;
    }
    header label {
        display: block;
    }

    .user{
        display: none;
    }

    .menu-sis {
        position: absolute;
        justify-content: space-between;
        margin-left: -60%;
        transition: 0.5s;
        width: 60%;
        z-index: 1;
        font-size: 3vmin;
        box-shadow: none;
    }

    .lista {
        padding: 0;
        flex-direction: column;
    }

    #boton-menu:checked~.menu-sis {
        margin: 0;
    }

    #boton-menu:checked~label{
        background: rgba(0, 0, 0, 0.3);
    }

    .contenedor-header h1{
        display: none;
    }

    .contenido{
        width: 90%;
    }

    .registro-pedidos{
        flex-direction: column;
    }

    .registro, .historial{
        width: 100%;
        height: 100%;
        margin-bottom: 25px;
    }

    .contenido-imagenes{
        height: 100%;
    }

    .form-editar{
        margin-top: 0;
        width: 100%;
    }

    .form-editar input{
        width: 100%;
    }

    .editar{
        height: 100%;
    }

    
    .form-visitas{
        flex-direction: column;
    }

    .form-visitas .form-elemento{
        margin-top: 50px;
        width: 80%;
    }
}

@media screen and (max-width: 580px) {
    .temas div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tema{
        width: 60%;
    }
    .table td,
    .table th {
        font-size: 3vmin;
    }
}
@media screen and (max-width: 360px) {
    .menu-sis{
        width: 70%;
        margin-left: -70%;
        font-size: 4vmin;
    }
}

#usuarios{
    width: 100%;
    height: 70vh;
}

.opciones-us a{
    color: white;
    font-size: 15px;
}

.opciones-us a img{
    width: 30px;
}

.boton-us{
    padding: 8px;

    color: white;
    background-color: #2542e9;
}

#ver{
    display: none;
}

#ver:checked ~ label[for='ver']{
    background-color: #999999;
}

.zona-pass{
    display: flex;
    justify-content: space-around;
}

label[for='ver']{
    width: 30px;
    border-radius: 5px;
    background-color: #afadad;
}

label[for='ver']:hover{
    cursor: pointer;
}