/* Estilos Header */
header{
    background-color: #473B34;
}

.contenedor-menu{
    max-width: 1280px;
    width: 50%;
    margin: auto;
}

.menu{
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu img{
    width: 15%;
}

.menu img:hover{
    cursor: pointer;
} 

.lista{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.lista li{
    list-style: none;
    margin-top: 10px;
    margin-right: 50px;
}

.lista a{
    color: white;
    font-size: 1.2em;
}

.lista li:hover{
    color: #EF962D;
    cursor: pointer;
}

.lista a:hover{
    color: #EF962D;
    text-decoration: none;
}

/* Estilos de Comtenido */
.contenedor-contenido{
    width: 70%;
    max-width: 1280px;
    margin: auto;
    height: 80vh;
}

/* AQUI VAN TODOS LOS ESTILOS QUE VAYAN A AGREGAR */


/* Estilos de Footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #8A0E0E;
    color: white;
}